 <%= render "shared/error_messages", :target => @current_user %>
  <%= form_for(@current_user, url: update_user_path) do |f| %>

    <div><%= f.label :login, t('devise.registrations.edit.name_label')%><br />
    <%= f.text_field :login, autofocus: true %></div>
    
    <div><%= f.label :description,t('devise.registrations.edit.description_label') %><br />
    <%= f.text_area :description %></div>

    <div><%= f.submit t('common.update_button') %></div>
  <% end %>


<h3><%= t('devise.registrations.edit.cancel_account_header') %></h3>

<p><%= t('devise.registrations.edit.cancel_account_instructions') %> <br />
 <%= button_to t('devise.registrations.edit.cancel_account_button'), destroy_own_user_path, data: { confirm: t('devise.registrations.edit.cancel_confirm') }, method: :delete %></p>