<h3>Help</h3>

<h4>Uploading</h4>
<p>
  To upload a new map to rə warpǝr, click the
  <%= link_to t('shared.nav.add_map'), new_map_path %> link above.  Add a title for the map, and give values for as many of the optional fields as possible.
  Choose a local image file to upload, or give the URL of an image to be imported, and click the "Create" button.
</p>

<p>
  The map that you upload or import must be a raster image format such as png, tiff, or jpeg. PDFs are not accepted; if you have a map in PDF format,
  convert it to an image before uploading.
</p>

<h4>Rectifying</h4>

<p>
  To georectify an uploaded map, first go to the map's main page by clicking on its title on the home page or on the
  <%= link_to 'Browse', maps_url %> page.  On the map's main page, click the "Retify" tab and use the two views
  to place several (at least three, and the more the better) pairs of control points.  When you have finished adding control points, click the
  'Warp Image' button.
</p>

<p>
  You can return to the map to add more control points, and/or to edit previously added control points, at any time.  Each time you edit, delete,
  or add control points, click the 'Warp Image' button to update the map.
</p>


<h4>Viewing and Exporting</h4>

<p>
  You can view a rectified map by clicking on the "Preview" tab on the map's main page.
</p>

<p>
  The "Export" tab on the map's main page has links to let you download the rectified map in various digital formats.
</p>


<h4>Deleting a Map</h4>

<p>
  To delete a map, use the "Delete this map" link at the top of the "Edit" tab on the map's main page.  Note that all maps in rə warpǝr
  are public; deleting a map will cause it to be deleted from the rə warpǝr servers and will prevent anyone from downloading the map
  from that point on, but it will not delete any copies that had previously been downloaded. See the
  <%= link_to 'FAQ', faq_url %>
  for more information about what data is deleted when you delete a map.
</p>


<h4>Deleting Your Account</h4>

<p>
  To delete your rə account, go to the <%= link_to t('shared.header.settings'), edit_user_path %></li> page
  and click the "<%= t('devise.registrations.edit.cancel_account_button') %>" button.  Note that deleting your rə 
  account will not delete your Google account -- it just deletes your Google account's association with rə.
  This will delete all maps that you have uploaded to rə warpǝr;
  see the
  <%= link_to 'FAQ', faq_url %>
  for more details.
</p>
