<tr>
  <% cl = cycle('table0', 'table1') %>

  <td class="<%= cl %>">
  <% logger.debug version.inspect%>
    <%= version.created_at.to_s %>

  </td>

  <% if version.item_type.downcase == "map"
    typename = "Map"
    controller_name = "map"
    elsif version.item_type.downcase == "gcp"
    typename = "Control Point"
    controller_name = "gcp"
    end 

    whodunnit  = version.whodunnit || ""
    user_agent = version.user_agent || ""
    ip = version.ip || ""
    %>

  <td class="<%= cl %>">
    <%
    if !whodunnit.blank? && whodunnit.starts_with?("del")
      user = nil
    else
      user = User.find_by_id(whodunnit)
    end 
    if user -%>
      <%= link_to user.login, :controller=>"users",:action=>"show", :id=>user.id-%>
    <% else -%>
      <span class="subdued" title="hash <%= whodunnit %>"><%= whodunnit[0..10] %></span>
    <%end%>
  </td>

  <% if admin_authorized? %>
    <td class="<%= cl %>"> &nbsp;
      <span title="hash <%= ip %>"><%= ip[0..7] %><span>
    </td>
    <td class="<%= cl %> smaller">
    <span title="hash <%= user_agent %>"><%= user_agent[0..7] %><span>
    </td>
  <% end %>

  <td class="<%= cl %>">
    <%= link_to typename + ' ' + version.item_id.to_s, map_path(version.item_id) if version.item_type == "Map" -%>
    <%= link_to typename + ' ' + version.item_id.to_s, gcp_path(version.item_id) if version.item_type == "Gcp" -%>
  </td>

  <td class="<%= cl %>">
    <%= formatted_action(version.event) %>
  </td>

  <td class="<%= cl %>">
    <%=  version.index %>
  </td>

  <td class="<%=cl %>">

    <%- unless defined?(page) && page =~ /detail/ -%>
      <%= link_to t('.further_details'), activity_details_url(:id => version.id) %>
    <%-end-%>
  </td>
  <% if admin_authorized? %>
    <td class="<%=cl %>">
      <% if version.item_type == "Map" %>
        <% link_text = t('.revert_map', version: version.index-1)
        if version.index-1 < 0
          link_text = t('.revert_first_map')
          end
      %>
        <%= link_to "#{link_text}", revert_map_url(:id => version), :method => :put, :data => {:confirm => t('.revert_all_gcps')}, :class=>"buttonWarper" %>
      <% elsif version.item_type == "Gcp" 
        link_text = t('.revert_gcp', version: version.index-1)
        if version.index-1 < 0
          link_text = t('.revert_first_gcp')
          end

      %>
        <%= link_to "#{link_text}", revert_gcp_url(:id => version), :method => :put, :data => {:confirm => t('.revert_gcp_confirm')}, :class=>"buttonWarper"%>
      <% end %>
    </td>
  <% end %>
</tr>
