<div class="export-tab-container">
<h2><%= t('.header') %></h2>
<ul>
  <li>
  <%= t('maps.export.wms') %>: <%=link_to(t('maps.export.wms_link'), :action => "wms", :id => @layer, :request => "GetCapabilities", :service => "WMS", :version => "1.1.1") %>  <br />
   <% josm_url = url_for(wms_layer_url(:id => @layer)) + "?request=GetMap&version=1.1.1&styles=&format=image/png&srs={proj}&exceptions=application/vnd.ogc.session.inimage&width={width}&height={height}&BBOX={bbox}&" %>
    <%= link_to(t('maps.export.josm_link'), josm_url) %> <br />
  </li>
  <% if @layer.published? 
    tiles_host = APP_CONFIG['cdn_tiles_host'].blank? ? "https://storage.googleapis.com/#{APP_CONFIG['google_tiles_bucket']}" : APP_CONFIG['cdn_tiles_host']
    fast_tile_url = "#{tiles_host}/#{@layer.id}/{z}/{x}/{y}.png" 
    tile_json = "#{tiles_host}/#{@layer.id}/#{@layer.id}spec.json" %>
  <li>
    <span class="fast-tiles"><%= t('maps.export.faster_tiles_bold') %> </span><%= t('.faster_tiles_explanation') %>  <br />
    <%= t('maps.export.faster_tiles_link') %>: <%= fast_tile_url %> <br />
    <%= t('maps.export.faster_tiles_json') %>: <%= tile_json %>
  </li>
     <% end %>
  <li>
  <% tile_url = "#{tile_layer_base_url(:id => @layer.id)}/{z}/{x}/{y}.png" %>
    <%= t('maps.export.tiles') %>: <%= tile_url %>
  </li>
  <li>
    KML: <%= link_to(t('maps.export.kml_link'), layer_url(:id => @layer, :format=>:kml)) %>
  </li>
  <li>
    <%= t('maps.export.bibliographic') %>:  <%= link_to t('maps.export.bibliographic'), "http://example.com" -%>
  </li>
</ul>
<br />
</div>
