<!DOCTYPE html>
<html>
  <head>
    <%= tag("meta", :name => "site-prefix", :content =>  APP_CONFIG['site_prefix'] || "") %>
    <title><%=t("common.site_title") %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='//fonts.googleapis.com/css?family=Lato:400,700|Sorts+Mill+Goudy|Vidaloka' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "openlayers/2.8/OpenLayers-2.8/OpenLayers" %>
    <%= javascript_include_tag 'application' %>
    <%= tag("link", :rel => "stylesheet", :href=> "https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap") %>
    <script src="<%= APP_CONFIG['shared_assets_path'] %>/kartta-app.js"></script>
    <%= tag("link", :rel => "stylesheet", :media =>"screen", :href=> APP_CONFIG['shared_assets_path'] + "/kartta-app.css") %>  
    <%= csrf_meta_tags %>

    <%= yield :head %>

  </head>
  <% if @onload -%>
    <body onload="<%=@onload%>">
  <%else-%>
    <body>
  <%end%>

    <div id="kartta-app-cookie-bar"></div>

    <%= render 'layouts/hms_header' %>

<% if false %>
    <%= render :partial => 'shared/header' %>
    <div id="headerDiv" class="headerDiv">
      <% if false %>
        <span class="debug-info">Pod: <%= ENV["K8S_POD_NAME"] %></span>
      <% end %>
      <div class="siteLogo"></div>
      <h1><%= link_to t('common.site_title'), root_path %></h1>
      <%= render :partial => 'shared/nav' %>
      <%= render :partial => 'shared/disabled_site'%>
    </div>
<% end %>

<% if false %>
    <%= breadcrumbs "application" %>
<% end %>

    <div id="warper-maindiv">

      <%= flash_messages %>

      <%= yield %>
    </div>


    <div id="footer">
      <%= render :partial => 'shared/footer' %>
    </div>


    <%= render :partial => 'shared/analytics' %>

    <%= javascript_include_tag 'bootstrap-native-v4.min.js' %>

  </body>
</html>
